.main-content {

    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;  // 위에서 쌓기
    flex: 1 1 0;

    .top-area {
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.75rem;
        cursor: pointer;
        padding: 20px 20px;


        svg {
            color: #999;
            margin-left: 5px;
        }

    }





}