.main-left {
    padding-left: 20px;
    background-color: #1a1a1a;
    color: white;
    width: 260px;
    border: 1px solid black;
    overflow-y: auto;
    height: 100%;

    &-top {
        position: sticky;
        z-index: 20;
        left: 0;
        right: 0;
        top: 0;
        height: 2.5rem;
        margin-top: 0.875rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-right: 10px;

        &:hover {
            background-color: rgba(gray, .2);
            border-radius: 8px;
        }

        .logo {
            position: relative;
            color: #1a1a1a;
            background-color: rgba(255,255,255, 1);
            border-radius: 9999px;
            width: 1.75rem;
            height: 1.75rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }

    }

    .area {
        margin-top: 1.25rem;
    }

    ol {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            height: auto;
            cursor: pointer;
            font-size: 0.875rem;
            padding: 0.5rem;

            &:hover {
                background-color: rgba(gray, .2);
                border-radius: 8px;
            }

        }

    }

    .title {
        font-size: .75rem;
        line-height: 1rem;
        color: rgba(102, 102, 102, 1)
    }

    .w-2\/3 {
        width: 66.666667%;
    }

    .h-2\/3 {
        height: 66.666667%;
    }

    .gizmo:after {

        box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
        border-radius: 9999px;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

}